[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
"flake8" = "*"
factory-boy = "*"
titlecase = "*"
bleach = "*"
django-autocomplete-light = "*"
html2text = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
