{% extends "todo/base.html" %}

{% block title %}Todo List: {{ task_list.name }}{% endblock %}

{% block content %}

  {% if list_slug != "mine" %}
    <form action="" name="add_task" method="post">
      {% csrf_token %}
      {# Only show task adder if list is not "mine" #}
      {#  fixme: Not working because need to send named form into this template. And move into a subtemplate. #}
      <h2 id="slideToggle" >&rarr; Click to add task &larr;</h2>
      <div id="AddTask">
        <table class="table">
           <tr>
             <td><label for="id_title">Task:</label> {{ form.title }}</td>
             <td><label for="id_due_date">Due date:</label> {{ form.due_date }}</td>
             <td><label for="id_assigned">Assign to:</label> {{ form.assigned_to }}</td>
             <td><label for="id_notify">Notify*:</label> <input type="checkbox" checked="checked" name="notify" value="1" id="notify"></td>
           </tr>
           <tr>
             <td>
               <label for="id_note">Note:</label>
               {{ form.note }}
               <p class="minor">*Email notifications will only be sent if task is assigned to someone besides yourself.</p>
             </td>
           </tr>
        </table>

        <input type="hidden" name="priority" value="999" id="id_priority">
        <input type="hidden" name="created_by" value="{{ request.user.id }}" id="id_created_by">
        <input type="hidden" name="task_list" value="{{ task_list.id }}" id="id_task_list">
        <input type="hidden" name="created_date" value="{{ created_date }}" id="id_created_date">
        <p><input type="submit" name="add_task" value="Add task" class="todo-button"></p>
      </div>
    </form>
  {% endif %}

  {% if list_slug == "mine" %}
    <h1>Tasks assigned to me (in all groups)</h1>
  {% else %}
    <h1>Tasks filed under "{{ task_list.name }}"</h1>
    <p>This list belongs to group {{ task_list.group }}</p>
    <h3>Tasks :: Drag rows to set priorities</h3>
  {% endif %}
  
  <form action="" name="show_tasks" method="post">
      {% csrf_token %}
    <table class="table" id="tasktable">
      <tr>
        <th>Done</th>
        <th>Task</th>
        <th>Created</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Assigned</th>
        <th>Note</th>
        <th>Comm</th>
        <th>Del</th>
      </tr>
    	{% for task in items %}
        <tr id="{{ task.id }}">
          <td>
            <input type="checkbox" name="toggle_done_tasks" value="{{ task.id }}" id="{{ task.id }}">
          </td>
          <td>
            <a href="{% url 'todo:task_detail' task.id %}">{{ task.title|truncatewords:20 }}</a>
          </td>
          <td>
            {{ task.created_date|date:"m/d/Y" }}
          </td>
          <td>
            <span {% if task.overdue_status %}class="overdue"{% endif %}>
                {{ task.due_date|date:"m/d/Y" }}
            </span>
          </td>
          <td>
            {{ task.created_by }}
          </td>
          <td>
            {% if task.assigned_to %}{{ task.assigned_to }}{% else %}Anyone{% endif %}
          </td>
          <td>
            {% if task.note %}&asymp;{% endif %}
          </td>
          <td>
            {% if task.comment_set.all.count > 0 %}{{ task.comment_set.all.count }}{% endif %}
          </td>
          <td>
            <input type="checkbox" name="toggle_deleted_tasks" value="{{ task.id }}" id="{{ task.id }}">
          </td>
        </tr>
      {% endfor %}
    </table>
    <p><input type="submit" name="process_tasks" value="Continue..."  class="todo-button"></p>
  </form>

  {# fixme: convert to bs buttons #}
  {% if list_slug != "mine" %}
    {% if view_completed %}
      <p><a href="{% url 'todo:list_detail' list_id list_slug %}">View incomplete tasks</a></p>
    {% else %}
      <p><a href="{% url 'todo:list_detail_completed' list_id list_slug %}">View completed tasks</a></p>
    {% endif %}

    <p><a class="todo" href="{% url 'todo:del_list' list_id list_slug %}">Delete this list</a></p>

  {% endif %}
  

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    function order_tasks(data) {
      // The JQuery plugin tableDnD provides a serialize() function which provides the re-ordered
      // data in a list. We pass that list as an object called "data" to a Django view
      // to save the re-ordered data into the database.
      $.post("{% url 'todo:reorder_tasks' %}", data, "json");
      return false;
    };

    $(document).ready(function() {
      // Initialise the task table for drag/drop re-ordering
      $("#tasktable").tableDnD();

      $('#tasktable').tableDnD({
        onDrop: function(table, row) {
          order_tasks($.tableDnD.serialize());
        }
      });

      // Initially hide the Add Task form
      $('#AddTask').hide();

      // toggle slide to show the Add Task form when link clicked
      $('#slideToggle').click(function(){
        $(this).siblings('#AddTask').slideToggle();
      });
    });
  </script>
{% endblock extra_js %}