{% extends "todo/base.html" %}

{% block title %}Task:{{ task.title }}{% endblock %}

{% block content %}

  <div class="card-deck">
    <div class="card col-sm-8">
      <div class="card-body">
        <h3 class="card-title">{{ task.title }}</h3>
        {% if task.note %}
          <p class="card-text">{{ task.note|safe|urlize|linebreaks }}</p>
      {% endif %}
      </div>
    </div>

    <div class="card col-sm-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Assigned to:</strong>
                {% if task.assigned_to %}
                  {{ task.assigned_to.get_full_name }}
                {% else %}
                  Anyone
                {% endif %}
            </li>
            <li class="list-group-item">
                <strong>Reported by:</strong> {{ task.created_by.get_full_name }}
            </li>
            <li class="list-group-item">
                <strong>Due date:</strong> {{ task.due_date }}
            </li>
            <li class="list-group-item">
                <strong>Completed:</strong> {{ task.completed|yesno:"Yes,No" }}
            </li>
            <li class="list-group-item">
                <strong>In list:</strong>
                <a href="{% url 'todo:list_detail' task.task_list.id task.task_list.slug %}">
                  {{ task.task_list }}
                </a>
              </li>
          </ul>
        </div>
      </div>

    <button id="slideToggle" class="mt-3 btn btn-primary">Edit task</button>

    {% comment %} Needs form tag {% endcomment %}
    <div id="TaskEdit">
      <h3>Edit Task</h3>

      <table>
        <tr>
          <td>Title:</td>
          <td>{{ form.title }}
          </td>
        </tr>

        <tr>
          <td>List:</td>
          <td>{{ form.task_list }}
          </td>
        </tr>

        <tr>
          <td>Due:</td>
          <td>{{ form.due_date }}
          </td>
        </tr>

        <tr>
          <td>Assigned to:</td>
          <td>{{ form.assigned_to }}
          </td>
        </tr>

        <tr>
          <td valign="top">Note:</td>
          <td>{{ form.note }}
          </td>
        </tr>

        <tr>
          <td>Priority:</td>
          <td>{{ form.priority }}
          </td>
        </tr>

      </table>
      <p><input type="submit" class="btn btn-primary" name="edit_task" value="Edit task"></p>
    </div>

    <hr/>

    <h3>Add comment</h3>
    <textarea name="comment-body"></textarea>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>

  

  <div class="task_comments">
    {% if comment_list %}
      <h3>Comments on this task</h3>
      {% for comment in comment_list %}
        <p>
          <strong>{{ comment.author.first_name }}
            {{ comment.author.last_name }},
            {{ comment.date|date:"F d Y P" }}
          </strong>
        </p>
        {{ comment.body|safe|urlize|linebreaks }}
      {% endfor %}
    {% else %}
        <h3>No comments (yet).</h3>
    {% endif %}
  </div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      // Initially hide the TaskEdit form
      $('#TaskEdit').hide();

      // toggle slide to show the Add Task form when link clicked
      $('#slideToggle').click(function () {
        $(this).siblings('#TaskEdit').slideToggle();
      });
    });
  </script>
{% endblock extra_js %}
